@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --color1: darksalmon;
  --color2: darkolivegreen;
  --color3: saddlebrown;
  --color4: slategrey;
  --color5: rgb(122, 163, 233);
}

body {
  margin: 50px;
  background-color: var(--color1);
  font-family: "Figtree", sans-serif;
  /* font-family: "Times New Roman", serif; */
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(0, 0, 0);
}

td,
th {
  border: solid black 1px;
}

.nav-bar {
  position: sticky;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 0px;
}

.nav-button {
  margin: 3px;
  color: white;
}

.nav-button:hover {
  background-color: var(--color2);
}

.queries {
}

.method {
  background-color: var(--color4);
  padding: 5px 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: solid black 2px;
}

.endpoint {
  background-color: var(--color2);
  border: solid 2px black;
  margin: 10px 0px;
  padding: 10px;
}

.code-block {
  background-color: var(--color3);
  color: rgb(255, 255, 255);
  border: solid white 1px;
}

#main-content {
  background-color: white;
  border: solid black 2px;
  padding: 0px 10px;
  /* display: grid; */
  /* grid-template-columns: 1fr 2fr; */
  /* grid-template-areas: "pic text"; */
}

h1 h2 h3 h4 {
  margin: 10px 10px;
}

h1 {
  /* font-size: xx-large; */
}
h2 {
  /* font-size: x-large; */
}
h3 {
  /* font-size: larger; */
}
h4 {
  /* margin: 2px 10px; */
  /* font-size: large; */
}
h5 {
  /* margin: 2px 10px; */

  /* font-size: large; */
}
h6 {
  /* margin: 2px 10px; */

  /* font-size: large; */
}
p,
ul {
  /* margin: 2px 10px; */

  /* font-size: large; */
}
