@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Parisienne&family=Cookie&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");

:root {
  --color1: darksalmon;
  --color2: slategrey;
  --color4: white;
  --color5: darkolivegreen;
  --dark1: rgb(51, 51, 51);
}

* {
  cursor:
    url("./cursors/circle.svg") 12 12,
    auto;
}

a {
  color: black;
}

a,
button {
  cursor:
    url("./cursors/hand.svg") 2 2,
    pointer;
}

body {
  max-width: 1440px;
  margin: 50px;
  background-color: var(--color1);
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(0, 0, 0);
}

h1 {
  /* font-family: "Parisienne", cursive; */
  /* font-family: "Cookie", cursive; */
  /* font-family: "Noticia Text", serif; */
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 6rem;
  margin: 0em;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 16px;
  font-weight: 600;
}

h6 {
  font-size: 16px;
  font-family: 400;
  font-style: italic;
}

p {
  font-size: 16px;
  font-weight: 400;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  margin: 50px;
  min-height: 200px;
}

td,
th,
table {
  border: dashed rgb(0, 0, 0) 1px;
}

.nav-bar {
  position: sticky;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: black;
  color: rgb(255, 255, 255);
  padding: 0px;
}

.nav-button {
  margin: 10px;
  color: white;
  font-weight: 300;
  transition: 0.2s;
}

.nav-button:hover {
  /* color: var(--color5); */
  font-weight: 700;
}

.method {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: baseline;
}

.methods {
  background-color: var(--color2);
  padding: 5px 10px;
  margin: 5px;
  border: solid black 2px;
  display: flex;
  flex-direction: column;
}

.endpoint {
  background-color: var(--color5);
  border: solid 2px black;
  margin: 10px 0px;
  padding: 10px;
}
.endpoint-link {
  transition: 0.1s;
}
.endpoint-link:hover {
  font-style: italic;
}

.sample-response {
  white-space: pre-wrap;
  overflow: scroll;
}

.code-block {
  background-color: var(--dark1);
  color: rgb(255, 255, 255);
  border: dashed black 1px;
  padding: 0px 20px;
}

.icon {
  width: 40px;
  transition: 0.3s;
}

.icon:hover {
  width: 60px;
}

#main-content {
  background-color: var(--color4);
  border: solid black 2px;
  padding: 0px 10px;
  /* display: grid; */
  /* grid-template-columns: 1fr 2fr; */
  /* grid-template-areas: "pic text"; */
}

/* Custom text cursor for content */
/* p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
li,
label {
  cursor:
    url("./cursors/text-icon.svg") 0 0,
    text;
} */
